[user]
   name = Alex Le
   email = alex.csm@gmail.com
   username = alexle
[push]
   default = simple
[core]
   autocrlf = true
	safecrlf = false
[github]
   user = alexle
[credential]
   helper = wincred
