.atom
.appcfg*
.bash_history
.lesshst
.minttyrc
_viminfo
.viminfo
.ssh
_netrc
3D Objects
AppData
Contacts
Desktop
Documents
Downloads
Dropbox
Favorites
Google
Links
Music
OneDrive
Pictures
Saved Games
Searches
Videos
vimfiles
NTUSER*
